@font-face {
  font-family: 'Formula1-Bold';
  src: url('Formula1-Bold.eot');
  src: url('Formula1-Bold.eot?#iefix') format('embedded-opentype'),
       url('Formula1-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formula1-Display-Bold';
  src: url('Formula1-Display-Bold.svg#Formula1-Display-Bold') format('svg'),
       url('Formula1-Display-Bold.ttf') format('truetype'),
       url('Formula1-Display-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

