@font-face {
  font-family: 'Formula1-Black';
  src: url('Formula1-Black.eot');
  src: url('Formula1-Black.eot?#iefix') format('embedded-opentype'),
       url('Formula1-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Formula1-Display-Black';
  src: url('Formula1-Display-Black.svg#Formula1-Display-Black') format('svg'),
       url('Formula1-Display-Black.ttf') format('truetype'),
       url('Formula1-Display-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

